<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
</head>
<body>
    <form method="POST" id="authForm">
  <div>
      <h3> Register </h3>
      <p>
          <label for="member_id">아이디</label>
          <input type="text " id="member_id" name="member_id" >
      </p>
 
      <p>
          <label for="pw">비밀번호</label>
          <input type="password" id="pw" name="pw">
      </p>
      <p>
        <label for="name">닉네임</label>
        <input type="text" id="name" name="name">
    </p>
      <input type="submit" name="submit" value="가입" style="WIDTH: 183pt"/>
 
    </div>
</form>
 
</body>
</html>
